@charset "UTF-8";
/*------------------ Colors:Start ------------------------*/
:root {
  /*------------------ Primary Colors ------------------------*/
  --primary: #082e5b !important;
  --primaryLightRGB: hsla(213, 84%, 19%, 0.501) !important;
  --black: #000000 !important;
  --white: #ffffff !important;
  --headerBlack: #292929 !important;
  --headerGray: #6e6d6d !important;
  --headerLightGray: #e3e3e3 !important;
  --primaryHeading: #0B4183 !important;
  /*------------------ Secondary Colors ------------------------*/
  /*------------------ Default Colors ------------------------*/
  --darkGrey: #151515 !important;
  --lightGrey: #f2f4f5 !important;
  --lightGreyBakground: #f8f8f8 !important;
}

/*------------------ Colors:End ------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  transition: all ease 0.5s;
}

#header .head-social {
  display: flex;
  align-items: center;
  justify-content: start;
}
#header .head-social .social-icon {
  color: var(--white);
  background-color: var(--headerGray);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 7px;
}
#header .head-social .social-icon a {
  text-decoration: none;
  color: var(--white);
}
#header .head-social .social-icon a i {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  color: var(--white);
}
#header .head-social .social-icon:hover {
  background-color: var(--primary);
}
#header .logo {
  align-items: center;
  justify-content: center;
  display: flex;
}
#header .logo img {
  padding: 1.75rem 0;
  height: 100px;
}
#header .head-user {
  display: flex;
  align-items: center;
  justify-content: end;
}
#header .head-user .user-icon {
  color: var(--headerGray);
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 7px;
  cursor: pointer;
}
#header .head-user .user-icon a {
  text-decoration: none;
  color: var(--headerGray);
}
#header .head-user .user-icon a i {
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  color: var(--headerGray);
}
#header .head-user .user-icon a i:hover {
  color: var(--primary);
}

.ribbon {
  padding: 0;
  margin: 0;
  background-color: var(--primary);
}
.ribbon p {
  font-family: "Montserrat";
  color: var(--white);
  text-align: center;
  padding: 9px;
  margin: 0;
}

.nav-bar {
  background-color: var(--headerLightGray);
  height: 50px;
}
.nav-bar .nav ul {
  list-style: none;
  margin-bottom: 0;
}
.nav-bar .nav ul li {
  float: left;
  padding: 12px 20px;
}
.nav-bar .nav ul li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: bold;
  color: #707070;
}
.nav-bar .nav ul li a:hover {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  transition: all 0.1s ease;
}
.nav-bar .nav ul li .dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav-bar .nav ul li .dropdown li {
  display: block;
  float: none;
  padding-left: 0;
  width: 100%;
}
.nav-bar .nav ul li .dropdown li a {
  padding: 12px 16px;
  width: 100%;
  text-align: left;
}
.nav-bar .nav ul li:hover .dropdown {
  display: block;
  padding: 0;
}
.nav-bar .nav ul li:hover .dropdown li:hover a {
  border-bottom: none;
  background-color: var(--headerLightGray);
  width: 100%;
  color: var(--primary);
}
.nav-bar .user-nav {
  justify-content: end;
  align-items: center;
  display: flex;
  padding: 12px 10px;
}
.nav-bar .user-nav a {
  text-decoration: none;
  color: #707070;
  font-family: "Montserrat";
  font-weight: bold;
}
.nav-bar .user-nav a:hover {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  transition: all 0.1s ease;
}

.products {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Montserrat";
}
.products h2 {
  font-weight: bolder;
  font-size: 32px;
  color: var(--primaryHeading);
}
.products .card {
  overflow: hidden;
  border-radius: 0;
  margin-top: 0.5rem;
}
.products .card .promotions {
  padding: 10px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.products .card .promotions .heart-icon p {
  padding-left: 5px;
  color: var(--primary);
  font-family: "Montserrat";
}
.products .card .promotions .heart-icon p a {
  color: var(--lightGreyBakground);
  text-decoration: none;
}
.products .card .promotions .heart-icon p a i {
  font-size: 25px;
}
.products .card .promotions .heart-icon p span {
  padding-left: 10px;
  display: none;
  font-size: 14px;
  font-weight: 600;
}
.products .card .promotions .heart-icon:hover p {
  background-color: var(--headerLightGray);
  display: flex;
  align-items: center;
  justify-content: start;
}
.products .card .promotions .heart-icon:hover p span {
  display: block;
}
.products .card .promotions .discount {
  display: flex;
  align-items: center;
  justify-content: end;
}
.products .card .promotions .discount span {
  font-family: "Montserrat";
  padding-right: 10px;
  padding-left: 10px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 12px;
}
.products .card .img-div {
  transition: all 0.5s ease-in-out;
  -o-object-fit: contain;
     object-fit: contain;
  height: 500px;
  transform: scale(1);
}
.products .card .img-div img {
  transition: all 0.2s ease-in;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .card .details {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 78%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 8px;
}
.products .card .details .product-title {
  color: var(--primary);
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 800;
  opacity: 1;
  padding: 0;
  margin: 0;
}
.products .card .details .stars {
  padding: 0;
  margin: 0;
}
.products .card .details .stars i {
  color: var(--primary);
}
.products .card .details .size {
  display: none;
  color: var(--primary);
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Montserrat";
}
.products .card .details .size .btn {
  font-size: 12px;
  color: var(--primary);
  padding: 0px 8px;
  border-radius: 0;
  background-color: var(--white);
  border: 1px solid var(--primary);
  margin-right: 4px;
  font-weight: 500;
}
.products .card .details .size .btn.active {
  color: var(--white);
  background-color: var(--primary);
}
.products .card .details .size .btn.disabled {
  position: relative;
}
.products .card .details .size .btn.disabled::after {
  content: "×";
  /* Unicode character for "×" (multiplication sign) */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 0, 0, 0.8);
  /* Red color for the cross */
  font-size: 32px;
  /* Adjust the font size as needed */
}
.products .card .details .price {
  color: var(--primary);
  font-family: "Montserrat";
  font-weight: 600;
  text-align: right;
}
.products .card .details .btns {
  padding-top: 5px;
  font-family: "Montserrat";
}
.products .card .details .btns .btnCart {
  width: 100%;
  font-size: 14px;
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.products .card:hover .img-div {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}
.products .card:hover .details {
  transition: all 0.3s ease-in-out;
  top: 70%;
}
.products .card:hover .details .size {
  display: block;
}

.banner-light-bg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url(../img/define-bg.png);
}
.banner-light-bg p {
  font-family: "Montserrat";
  font-size: 50px;
  text-align: center;
  color: var(--primary);
}

.collection {
  padding-top: 3rem;
  padding-bottom: 0;
  font-family: "Montserrat";
}
.collection h3 {
  font-weight: bolder;
  color: var(--primaryHeading);
  font-size: 32px;
}
.collection .card {
  margin-top: 0.5rem;
  border: none;
}
.collection .card a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}
.collection .card a .card-img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
  transition: display ease 0.3s;
}
.collection .card a .card-img img {
  height: 100%;
  width: 100%;
}
.collection .card a .card-img.card-img-hov {
  display: none;
}
.collection .card a .title {
  padding-top: 20px;
  transition: all ease 0.3s;
  text-align: center;
}
.collection .card:hover .title {
  padding-top: 10px;
  transition: all ease 0.3s;
}
.collection .card:hover .card-img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: display ease 0.3s;
  display: none;
}
.collection .card:hover .card-img.card-img-hov {
  display: block;
}

.gallery {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Montserrat";
}
.gallery h3 {
  font-weight: bolder;
  color: var(--primaryHeading);
  font-size: 32px;
}
.gallery #GalleryCarousel .card {
  margin-top: 0.5rem;
  border: none;
}
.gallery #GalleryCarousel .card .img-container {
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
.gallery #GalleryCarousel .card .img-container img {
  height: 100%;
  width: 100%;
}
.gallery #GalleryCarousel .card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.banner-blue-bg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url(../img/wear-bg.jpg);
}
.banner-blue-bg p {
  font-family: "Montserrat";
  font-size: 50px;
  text-align: center;
  color: var(--white);
}

.reviews {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.reviews h3 {
  font-family: "Montserrat";
  font-weight: bolder;
  color: var(--primaryHeading);
  font-size: 32px;
}
.reviews .card {
  margin-top: 0.5rem;
}
.reviews .card .card-top {
  padding-top: 20px;
  padding-left: 20px;
}
.reviews .card .card-top .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
.reviews .card .card-top .avatar img {
  height: 100%;
  width: 100%;
}
.reviews .card .card-top .name {
  color: var(--primary);
  font-family: "Montserrat";
}
.reviews .card .card-top .stars {
  color: var(--primary);
  font-size: 10px;
}
.reviews .card .card-top .google img {
  height: 40px;
  width: 40px;
}
.reviews .card .hr-blue {
  color: var(--primaryLightRGB);
  border: 1px solid var(--primaryLightRGB);
}
.reviews .card .card-body {
  padding: 0 10px;
  margin: 0 10px;
}
.reviews .card .card-body p {
  text-align: center;
  font-size: 14px;
}
.reviews .card .card-body p span i {
  color: var(--primary);
  font-size: 16px;
}
.reviews .card .card-bottom {
  background-color: var(--primary);
  height: 5px;
  border-radius: 0 0 10px 10px;
}
.reviews .card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.newsletter {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.newsletter .newsletter-bg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  background: url(../img/wear-bg.jpg);
}
.newsletter .newsletter-bg h3 {
  font-weight: bolder;
  color: var(--white);
  font-size: 32px;
  font-family: "Montserrat";
  text-align: center;
  padding: 0;
  margin: 0;
}
.newsletter .newsletter-bg p {
  font-size: 18px;
  color: var(--white);
  font-family: "Montserrat";
  text-align: center;
}
.newsletter .newsletter-bg .form {
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter .newsletter-bg .form .col-input {
  border-bottom: 1px solid var(--white);
}
.newsletter .newsletter-bg .form .col-input input {
  background: none;
  border: none;
  border-radius: 0;
  color: var(--white);
  width: 40vw;
}
.newsletter .newsletter-bg .form .col-input input:focus {
  box-shadow: none;
}
.newsletter .newsletter-bg .form .col-btn {
  border-bottom: 1px solid var(--white);
}
.newsletter .newsletter-bg .form .col-btn button {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
}
.newsletter .newsletter-bg .form .col-btn button:hover {
  background-color: rgba(105, 167, 242, 0.3019607843);
}

.faqs {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Montserrat";
}
.faqs h3 {
  font-weight: bolder;
  color: var(--primaryHeading);
  font-size: 32px;
}

.footer {
  padding-top: 2rem;
  font-family: "Montserrat";
  padding-bottom: 2rem;
  background-color: var(--primary);
}
.footer .footer-logo img {
  height: 60px;
  width: 160px;
}
.footer .footer-title {
  color: var(--white);
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer .footer-hr {
  color: #69A7F2;
  border: 1px solid #69A7F2;
  width: 30px;
  opacity: 1;
  padding: 0;
  margin: 0;
}
.footer ul {
  list-style: none;
  padding: 0;
  padding-top: 10px;
}
.footer ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer .footer-social {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
}
.footer .footer-social .social-icon {
  background-color: var(--white);
  color: var(--primary);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 7px;
}
.footer .footer-social .social-icon a {
  text-decoration: none;
  color: var(--primary);
}
.footer .footer-social .social-icon a i {
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  color: var(--primary);
}
.footer .footer-social .social-icon:hover {
  background-color: var(--primary);
}
.footer .hr-line {
  color: var(--white);
  border: 0;
  border-bottom: 0.5px solid var(--white);
  width: 60vw;
  opacity: 1;
}
.footer .copyright {
  color: var(--white);
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.footer .newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 12px;
  border-bottom: 1px solid var(--white);
}
.footer .newsletter input {
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  border: 0;
  border-radius: 0;
}
.footer .newsletter input:focus {
  box-shadow: none;
}
.footer .newsletter button {
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  border: 0;
}

#searchModal .form {
  margin-left: 3rem;
  margin-right: 3rem;
}
#searchModal .form input:focus {
  box-shadow: none;
}
#searchModal .form .product-row .card .img-div {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
  width: 50px;
  overflow: hidden;
}
#searchModal .form .product-row .card .img-div img {
  height: 100%;
  width: 100%;
}

.slideRightToLeft {
  width: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 99999999999;
}

.base-sidebar-background {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(247, 247, 247);
}

.base-sidebar-content {
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  flex-direction: column;
  right: 0;
  left: auto;
  display: flex;
  background: #fff;
  max-width: 600px;
}
.base-sidebar-content .base-sidebar-content-body {
  flex: 1;
  display: unset;
}
.base-sidebar-content .base-sidebar-content-body .back-to-cart {
  background-color: transparent;
}

.slideRightToLeft.show {
  right: 0;
  width: 100%;
  visibility: inherit;
  opacity: 1;
  position: relative;
}
.slideRightToLeft.show .logo img {
  height: 60px;
  width: 160px;
}
.slideRightToLeft.show .menu-main-body {
  padding: 0 20px 30px;
}
.slideRightToLeft.show .menu-main-body .main-heading {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #343434;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
.slideRightToLeft.show .menu-main-body #menu_accordion a {
  text-decoration: none;
  color: #343434;
  font-size: 14px;
}
.slideRightToLeft.show .menu-main-body #menu_accordion .accordion-button {
  border-bottom: 1px solid var(--lightGrey);
}
.slideRightToLeft.show .menu-main-body #menu_accordion .accordion-button::after {
  content: "+";
  background: none;
  font-size: 20px;
}
.slideRightToLeft.show .menu-main-body #menu_accordion .accordion-button:not(.collapsed) {
  background-color: transparent !important;
}
.slideRightToLeft.show .menu-main-body #menu_accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(0);
  font-size: 20px;
  content: "-";
  background: none;
}
.slideRightToLeft.show .menu-main-body #menu_accordion .accordion-button.single::after {
  content: "";
  background: none;
}
.slideRightToLeft.show .menu-main-body #menu_accordion .accordion-button.single.sale {
  color: red;
}

@media only screen and (max-width: 600px) {
  .section-heading {
    font-size: 26px !important;
    font-weight: 900px;
  }
  #header .logo {
    justify-content: start !important;
  }
  #header .head-user .user-icon a i {
    font-size: 24px !important;
  }
  #header .head-nav {
    align-items: center;
    justify-content: start;
  }
  #header .head-nav .nav-icon {
    color: var(--headerGray);
    height: 40px;
    width: 40px;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-right: 7px;
  }
  #header .head-nav .nav-icon a {
    text-decoration: none;
    color: var(--headerGray);
  }
  #header .head-nav .nav-icon a i {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    color: var(--headerGray);
  }
  #header .head-nav .nav-icon a i:hover {
    color: var(--primary);
  }
  .ribbon p {
    font-size: 10px;
  }
  .products {
    padding-bottom: 5rem;
  }
  .products .card .img-div {
    height: 400px;
  }
  .products .card .details {
    top: 75%;
  }
  .products .card .details .price {
    font-size: 13px;
  }
  .products .card .details .product-title {
    font-size: 15px;
  }
  .products .card:hover .details {
    top: 65%;
  }
  .banner-light-bg P,
  .banner-blue-bg P {
    font-size: 30px !important;
  }
  .gallery #GalleryCarouselRes .card {
    margin-top: 0.5rem;
  }
  .gallery #GalleryCarouselRes .card .img-container {
    height: 100%;
    border-radius: 5px;
  }
  .newsletter .newsletter-bg h3 {
    font-size: 26px;
  }
  .newsletter .newsletter-bg p {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
  }
  .newsletter .newsletter-bg .form {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .newsletter .newsletter-bg .form .col-input {
    width: 70%;
  }
  .newsletter .newsletter-bg .form .col-btn {
    width: 30%;
  }
  .footer .footer-main-row {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .footer .footer-logo {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */